html, body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  background-color: #000;
}
.game-container {
  box-shadow: 0 0 10px white;
  border-radius: 6px;
  width: 100%;
  min-width: 300px;
  max-width: 800px;
  height: 100%;
  margin: 5px;
  display: flex;
  flex-flow: column;
  background-color: rgba(0,0,0,0.4);
  position: relative;
}
.game-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/main-bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
}
.game-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-title {
  font-size: 80px;
  text-shadow: 0 4px 10px white;
  color: white;
  text-align: center;
  padding: 50px 0 0 0;
  margin: 0;
}
#errorMsg {
  position: absolute;
  top: 20px;
  width: 90%;
  border: 1px solid red;
  border-radius: 6px;
  background-color: rgb(243, 187, 187);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 5px 0;
  color: red;
  transition: opacity 1s ease;
  z-index: 100;
}
.fade-out {
  opacity: 0;
}
.home-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-btn {
  width: 200px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 8px;
  box-shadow: 
  0 0 1px 1px darkgray,
  0 0 10px 1px whitesmoke;
  color: white;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}
.game-btn:hover {
  box-shadow: 
  0 0 1px 1px darkgray,
  0 0 10px 10px whitesmoke;
  text-shadow: 0 0 10px white;
}
.stage-btn {
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 8px;
  box-shadow: 
  0 0 1px 1px darkgray,
  0 0 10px 1px whitesmoke;
  color: white;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}
.stage-btn:hover {
  box-shadow: 
  0 0 1px 1px darkgray,
  0 0 10px 10px whitesmoke;
  text-shadow: 0 0 10px white;
}
.stage-selection-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.stage-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.stage-container {
  flex-grow: 1;
  width: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 2fr;
  gap: 10px;
  align-items: center;
  user-select: none;
}
.words-container {
  background-color: rgb(211, 211, 211, 0.2);
  width: 80%;
  margin: auto;
  padding: 10px 50px;
  border-radius: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}
.word-container {
  display: inline-flex;
  width: min-content;
  height: 30px;
  margin: 10px 0;
  justify-self: center;
}
.word-letter {
  display: block;
  text-align: center;
  font-weight: bold;
  width: 20px;
  font-size: 20px;
  margin: 0 5px;
  text-transform: uppercase;
  border-bottom: 4px solid white;
  color: white;
}
.letters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.letters-circle {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: rgba(211, 211, 211, 0.7);
  display: flex;
  position: relative;
}
.dragable-letter {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px;
  font-weight: bold;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
}
.dragable-letter:hover {
  color: darkorchid;
}
.selected-letter {
  background-color: darkorchid;
  color: white !important;
  border-radius: 50%;
}
.refresh-letters {
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  cursor: pointer;
}
.refresh-letters:hover {
  color: darkblue;
}
.red-point {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
}
.top-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.level-info {
  font-size: 50px;
  text-shadow: 0 4px 10px white;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin: 0;
}

.stage-back-btn {
  position: absolute;
  right: 30px;
  bottom: 30px;
  z-index: 5;
}
.next-stage-btn {
  position: absolute;
  left: 30px;
  bottom: 30px;
  z-index: 5;
}
.finish-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 700px) {
  .level-info {
    font-size: 26px;
  }
  .next-stage-btn {
    bottom: 20px;
    left: 10px;
    height: 40px;
  }
  .stage-back-btn {
    visibility: hidden;
    bottom: 20px;
    right: 10px;
    width: unset;
    height: 40px;
  }
  .stage-back-btn:after {
    content: "\21A9";
    visibility: visible;
    box-shadow: 0 0 1px 1px darkgray, 0 0 10px 1px whitesmoke;
    color: white;
    border-radius: 8px;
    padding: 5px;
  }
  .words-container {
    padding: 10px;
    width: 90%;
  }
  .word-container {
    margin: 5px 0;
  }
  .word-letter {
    width: 16px;
    font-size: 16px;
    margin: 0 3px;
  }
}