html, body {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
.game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 10px solid black; */
  position: relative;
  height: 100%;
}
.game-container {
  position: relative;
  border: 6px solid black;
  padding: 5px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.game-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('/public/main-bg.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(5px);
}
.game-box {
  box-shadow: 0 0 10px white;
  border-radius: 6px;
  width: 50%;
  min-width: 300px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column;
  background-color: rgba(0,0,0,0.4);
}
.game-title {
  font-size: 80px;
  text-shadow: 0 4px 10px white;
  color: white;
  text-align: center;
  padding: 50px 0 0 0;
  margin: 0;
}
#errorMsg {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 30px;
  border: 1px solid red;
  border-radius: 6px;
  background-color: rgb(243, 187, 187);
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: red;
  transition: opacity 1s ease;
}
.fade-out {
  opacity: 0;
}
.home-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-btn {
  width: 200px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 8px;
  box-shadow: 
  0 0 1px 1px darkgray,
  0 0 10px 1px whitesmoke;
  color: white;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}
.game-btn:hover {
  box-shadow: 
  0 0 1px 1px darkgray,
  0 0 10px 10px whitesmoke;
  text-shadow: 0 0 10px white;
}
.stage-btn {
  height: 50px;
  width: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 8px;
  box-shadow: 
  0 0 1px 1px darkgray,
  0 0 10px 1px whitesmoke;
  color: white;
  font-weight: bold;
  font-size: 30px;
  cursor: pointer;
}
.stage-btn:hover {
  box-shadow: 
  0 0 1px 1px darkgray,
  0 0 10px 10px whitesmoke;
  text-shadow: 0 0 10px white;
}
.stage-selection-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.stage-list {
  display: flex;
  gap: 20px;
}
.stage-container {
  flex-grow: 1;
  display: flex;
  flex-flow: column;
  user-select: none;
  position: relative;
}
.words-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.word-container {
  display: inline-flex;
  width: min-content;
  height: 30px;
  margin: 10px 0;
  
}
.word-letter {
  display: block;
  text-align: center;
  font-weight: bold;
  width: 20px;
  font-size: 20px;
  margin: 0 5px;
  text-transform: uppercase;
  border-bottom: 4px solid white;
  color: white;
}
.letters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.letters-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(211, 211, 211, 0.7);
  display: flex;
  position: relative;
}
.dragable-letter {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px;
  font-weight: bold;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.dragable-letter:hover {
  color: darkorchid;
}
.refresh-letters {
  font-size: 30px;
  font-weight: bold;
  margin: auto;
  cursor: pointer;
}
.refresh-letters:hover {
  color: darkblue;
}